body{
    margin: 0;
}
.Logo{
    padding:10px 30px 40px 20px ;
}
.Logo img{
    height: 50px;
}
header{
    background-color: #fbbc02;
    border-bottom: 2px solid black;
}
a{
    text-decoration: none;
    color: black;
}
.opciones{
    position: absolute;
    top: 2px;
    left: 76%;
    font-size: 16px;
    transition: font-size .6s ease-in;
}
.opciones:hover{
    font-size:18px;
}
nav a{
    font-weight: 600;
    padding: 15px; 
}
nav a:hover{
    color: blue;
    font-size:18px;
}
.crear{ 
    position: absolute;
    top: 50px;
    left: 80%;   
    padding-left:0px;
    font-size: 16px;
    transition: font-size .6s ease-in;
}
.crear:hover{
    font-size: 18px;
}
.Ingresa{
    position: absolute;
    top: 60px;
    left: 90%;
    font-size: 16px;
    transition: font-size .6s ease-in;
}
.Ingresa:hover{
    font-size:18px;
}
.banner img{
    width:100%
}
.todo{
    font-size: 20px;
    position: absolute;
    top: 69px;
    left: 30px;
}
.producto{
    width: 200px;
    margin-left: 20px;
}
.contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contenedor div{
    width: 280px;
    margin-left: 20px;
    border: 1px solid grey;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.contenedor div h3{
    color:black;
    font-size: 20px;
}
.ofertas h2{
    text-align: center;
    text-decoration: none; 
    color: black; 
}

.ofertas{
    margin: 40px;
}
.contenedor div button{
    background-color: cornflowerblue;
    padding: 5px;
    color: white;
    border-radius: 5px;
    position: relative;
    left: 67%;
    bottom: 15%;
}
.destacados{
    margin: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.subtitulo{
    text-align: center;
    color: black;
}
.destacados-A{
    align-items: center;
    width: 100%;
}
.destacados-B{
    align-items: center;
    width: 100%;
}
.destacados div{
    width: 350px;
    height: 350px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.identificador{
    text-align: center;
    position: relative;
    bottom:50%;
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-shadow: 0px 1px 10px white ;
}
.contenedor-form{
    background-color: #fbbc02;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-form h1{
    text-align: center;
    font-size: 30px;
}
.contenedor-form div{
    width: 300px;
}
.forma{
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.liebre{
    height: 70px;
}
.register{
    background-color: blue;
    color: white;
    position: relative;
    top: 10px;
}

.footer-nav ul{
    list-style: none;
}
.footer-nav h2{
    margin-left: 5%;
    color: black;
}